<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>add card</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-left">
                <a href="#"><img src="../../img/ecommer-logo.png"></a>
            </div>
            <div class="nav-center">
                <form class="example" action="/action_page.php">
                    <input type="text" onkeyup = "searchProduct()" placeholder="Search.."  id = "search">
                </form>
            </div>
            <div class="nav-right">
                <ul>
                    <li>
                        <a href="../../index.html">customer</a>
                        <a href="../seller/seller.html">seller</a>
                        <a href="/view/addCard/addCard.html"><img src="../../img/cart.png" alt=""></a>
                    </li>
                </ul>
            </div>
            
        </nav>
        <h1 class="title">ADD CARD</h1>  
        <div class="product-buy">
            <!-- <div class="card-buy">
                <div class="img-product-buy">
                    <img id="photo-buy" src="../../img/dress1.jfif" alt="">
                </div>
                <div class="price-description">
                    <p id="name-buy">sd</p>
                    <p id="description-buy">dd</p>
                    <p id="price-buy">43</p>

                    <div class="input-delete">
                        <input type="number" id="input-number">
                        <img id="img-delet" src="../../img/trash.png" alt="">
                    </div>
                </div>
                <div class="total-btn-buy">
                    <h2 >34</h2>
                    <button id="btn-delete">delete</button>
                </div>
            </div>
            <div class="card-total">
                <div class="total">30</div>
                <button class="buy-now">buy now</button>
            </div>
        </div>   -->
        </div>
    </div>
    <script src="addCard.js"></script>
</body>
</html>